@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap'); /* import custom font */

/* set custom properties for use throughout the stylesheet */
:root {
  --dark-brown: hsl(0 50% 20%);
  --brown: hsl(0 100% 40%);
  --red: hsl(10 90% 70%);
  --yellow: hsl(50 100% 90%);
  --green: hsl(70 70% 30%);
  --cursive: "Delicious Handrawn", cursive;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  --radius: 1.2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box; /* have box model measurements include padding and border widths in the overall container widths */
}
html {
  font-size: 62.5%; /* this makes 1rem = 10px for easier rem use/conversion elsewhere in CSS */
  scroll-behavior: smooth; /* smoothly animates the nav-menu jumps to different sections of the page */
}
body {
  margin: 0; /* remove browser's default body margin */
  font-family: sans-serif; /* switch default text from serif */
  font-size: 1.6rem; /* comparable to 16px */
  line-height: 1.5; /* more readable space between lines */
  overflow-wrap: break-word; /* prevents very-long words from overflowing their container */
}
img,
picture,
video,
svg {
  display: block;
  max-width: 100%; /* prevent images from overflowing their container */
}
button,
input,
select,
textarea {
  font: inherit; /* let form elements inherit the typography settings from their container */
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
main {
  overflow: auto; /* expand around the floated sections */
}

/* HEADER */

header {
  background-color: var(--yellow);
  box-shadow: var(--shadow);
  position: sticky; /* keeps the header on-screen even when scrolling the page */
  top: 0;
  z-index: 10; /* keep in front of the youtube video embed */
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .brand {
  display: flex;
  align-items: center;
  color: var(--brown);
  font-weight: bold;
}
nav.menu ul {
  display: flex;
  margin: 0;
  padding: 0;
}
nav.menu li {
  flex: 1 1 auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.menu a {
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}
nav.menu a:hover,
nav.menu a:focus {
  background-color: var(--brown);
  color: white;
}

/* INTRO */

.intro {
  display: flex;
  padding-top: 2.4rem;
}
.intro .column1 {
  width: 55%;
  padding-right: 2.4rem;
}
.intro .column2 {
  width: 45%;
}
.intro h1 {
  font-family: var(--cursive);
  font-size: 6rem;
  line-height: 1.1;
  color: var(--brown);
  margin: 1rem 0 2rem;
  border-bottom: 2px solid;
}
.intro img {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center center;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.specs {
  font-size: 0.875em;
  margin-top: 2rem;
}
.specs dl {
  display: flex;
  margin: 0;
}
.specs dt,
.specs dd {
  margin: 0;
  padding: 0.4rem 0;
  border-top: 1px solid #eee;
}
.specs dt {
  width: 25%;
  font-weight: bold;
  color: var(--green);
}
.specs dd {
  flex: 1;
}

/* INGREDIENTS */

h2, h3 {
  font-family: var(--cursive);
  margin: 0;
}
h2 {
  color: var(--red);
  font-size: 3.6rem;
  padding-top: 4.8rem;
}
h3 {
  color: var(--green);
  font-size: 2.4rem;
}
.ingredients {
  float: left;
  width: 50%;
  padding-right: 2.4rem;
}
.ingredients ul {
  padding-left: 0;
  list-style-type: disclosure-closed;
  list-style-position: inside;
}
.ingredients li {
  border-bottom: 1px solid #eee;
  padding: 0.8rem 0;
}

/* INSTRUCTIONS */

.instructions {
  float: left;
  width: 50%;
}
.instructions ol {
  padding-left: 1em;
}
.instructions li:not(:nth-last-of-type(1)) {
  margin-bottom: 1em;
}

/* VIDEO */

.video {
  clear: both;
}
.video-intro {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.6rem;
}
.video-intro p {
  margin: 0 0 1rem 2.4rem;
}
.video-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: var(--radius);
  overflow: hidden;
  position: relative;
}
.video-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* NOTES */

.notes {
  float: left;
  width: 50%;
  padding-right: 2.4rem;
}
.notes ol {
  padding-left: 1.25rem;
  font-size: 0.75em;
}
.notes li {
  margin-bottom: 0.5em;
}
.notes ol ul {
  padding-left: 1em;
}

/* NUTRITION INFO */

.nutrition {
  float: left;
  width: 50%;
  font-size: 0.875em;
}

.nutrition table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eee;
}
.nutrition table th,
.nutrition table td {
  text-align: left;
  padding: 0.4rem 0.8rem;
  border: 1px solid #eee;
}
.nutrition td:nth-of-type(1) {
  font-weight: bold;
  text-align: right;
}

/* FOOTER */

footer {
  clear: both;
  margin-top: 4.8rem;
  padding: 3.6rem 0;
  background-color: var(--dark-brown);
}
footer p {
  margin: 0;
  font-size: 0.875em;
  color: white;
}
footer a {
  color: inherit;
}
